/* Import the Young and Serif fonts from Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* Tailwind CSS directives for including base styles, components, and utilities. */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles for WebKit browsers (e.g., Chrome, Safari, Brave). */
::-webkit-scrollbar {
  /* Background color of the scrollbar. */
  background-color: hsl(30, 54%, 90%);
  /* Width of the scrollbar */
  width: 4px;
}

::-webkit-scrollbar-thumb {
  /* Color of the scrollbar thumb (the draggable part). */
  background-color: hsl(30, 10%, 34%);
}
